# SendGrid Configuration
SENDGRID_API_KEY=eyVEpGt8St2Y2j1lyP0_lA
FROM_EMAIL=moncada.knyouth@gmail.com
FROM_NAME=Kaya Natin Youth - Moncada

# Other existing environment variables
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/kny-moncada
JWT_SECRET=your_jwt_secret_here 